Remove-Item -Recurse -Force .git/refs/original/# Node modules
node_modules/

# Build output
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# dotenv environment variables file
.env

# Cache directories
.cache/